/* general styles */
body {
    font-family: Arial, serif;
}

h1 {
    font-size: 175%;
    padding: 10px;
    margin: 10px;
}

h2 {
    font-size: 150%;
    padding: 10px;
    margin: 10px;
}

h3 {
    font-size: 125%;
    padding: 10px;
    margin: 10px;
}

p {
    padding: 10px;
    margin: 10px;
}

/*---------------------------------------------------------------------------------------*/
/* style the full page */
.wrapper {
    min-width: 500px;
    max-width: 1200px;
    margin: 0px auto 0px auto;
    background-image: url('../img/background-tile.png');
}

/*---------------------------------------------------------------------------------------*/
/* style the header elements */
header {
    padding: 30px;
}

header:after {
    content: "";
    display: block;
    clear: both;
}

.logo {
    width: 150px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    float: left;
}

.title {
    font-size: 40px;
    text-shadow: black 7px 7px 10px;
    text-align: center;
    padding: 20px 0px;
}

/*---------------------------------------------------------------------------------------*/
/* style the navigation bar */
/* background color of bar */
nav {
    background-color: #333;
}

/* place menu elements horizontally and add border to list elements */
nav li {
    float: left;
    width: 150px; /*needed to work with drop down*/
    border-right: 1px solid white;
}

/* give the ul the correct height */
nav ul:after {
    content: "";
    display: block;
    clear: both;
}

/* remove border from last list element and float that one to the right */
nav > ul > li:last-child { /* selector must be specific to avoid using this style on last element of submenu */
    border-right: none;
    float: right;
    width: auto;
}

/* style the menu elements*/
nav a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px 15px;
}

/* style the active menu button */
.active {
    background-color: #ec4b2f;
}

/* change color on hover except for the active menu item*/
nav a:hover:not(.active) {
    background-color: #CCC;
    color: black;
}

/* hide lists level 2 */
nav li ul {
    position: absolute;
    width: 150px;
    display: none;
}

nav li li {
    background-color: #333;
    border-right: none;
}

/* show list level 2 on hover of top element */
nav li:hover ul {
    display: block;
}

/*---------------------------------------------------------------------------------------*/
/* style the content part */
/* make sure the elements do not come all the way to the border of the content box */
.content {
    padding: 20px;
}

/* create two columns that float next to each other */
.leftcolumn {
    float: left;
    width: 70%;
}

.rightcolumn {
    float: left;
    width: 25%;
    margin-left: 5%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: block;
    clear: both;
}

/* style the cards */
.card {
    background-color: white;
    border-radius: 20px;
    padding: 1%;
    margin: 2% 0;
    width: 100%;
}

/* style the fake images */
.fakeimg {
    width: 100%;
    margin: 10px auto;
}

.small {
    height: 80px;
}

/*---------------------------------------------------------------------------------------*/
/* Style the footer */
footer {
    padding: 20px;
    text-align: center;
    border-top: 2px solid #333;
    margin-top: 20px;
}
